include *.md
include *.py
recursive-include funzo *.py *.pyx *.pxd *.cc *.h *.mat *.png
recursive-include doc *
recursive-include tools *.py
recursive-include examples *.py *.ipynb
include Makefile
include LICENSE
